@import "tailwindcss";

:root {
  /* Bleus BluLab */
  --blue-900: #1A26A5;
  --blue-700: #202ECB;
  --blue-500: #283AFE;  /* Couleur marque principale */
  --blue-300: #5E6BFE;
  --blue-100: #9EA6FF;

  /* Neutres Urban Minimal */
  --black: #0B0B0B;
  --black-soft: #111111;
  --gray-text: #4B4B4B;
  --gray-border: #D9D9D9;
  --off-white: #F6F6F6;
  --white: #FFFFFF;

  /* Variables sémantiques */
  --color-primary: var(--blue-500);
  /* --color-background: var(--black); */
  --color-background: #C0C0C0;
  --color-foreground: var(--white);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  padding: 0;
}

/* Classe utilitaire pour boutons */
@layer components {
  
  /* Cache la scrollbar mais garde le scroll fonctionnel */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
